<%=form_with model:prompt, local: true do |form|%>
  <%if form.object.errors.any?&&!form.object.valid?%>
    <%=render 'shared/error_messages', model: form.object %>
  <%end%>
  <div class="prompt-title-form">
    <span>プロンプトタイトル</span>
    <%=form.text_field :title%>
  </div>
  <div class="prompt-content-form">
    <span>プロンプト内容</span>
    <%=form.text_area :content, size: "30x12"%>
    <span>プロンプト回答</span>
    <%=form.text_area :answer, size: "30x12",placeholder:"回答は必須ではありません"%>
  </div>
  <div class="prompt-nick-name-form">
    <span>投稿者名</span>
    <%=form.text_field :nick_name, value: last_prompt_nick_name(form.object) %>
  </div>
  <div class="prompt-ai-name-form">
    <span>プロンプトを適用したAI</span>
    <%=form.collection_select(:ai_id, ais, :id, :name, {})%>
  </div>
  <div class="prompt-category-form">
    <span>親カテゴリ</span>
    <%= form.collection_select(:parent_category_id, Category.roots, :id, :name, prompt: true, id: 'parent_category_id') %>
  </div>
  <div class="prompt-subcategory-form">
    <span>子カテゴリ</span>
    <%= form.select(:child_category_id, options_for_select([]), prompt: '選択してください', id: 'child_category_id') %>
  </div>
  <%= form.hidden_field :category_id, id: 'category_id' %>
  <%= form.submit action_name, class: "submit-btn" %>
<%end%>