<%= form_with model: prompt, local: true do |form| %>
  <% if form.object.errors.any? && !form.object.valid? %>
    <%= render 'shared/error_messages', model: form.object %>
  <% end %>
  <div class="form-group">
    <%= form.label :title, "プロンプトタイトル" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :content, "プロンプト内容" %>
    <%= form.text_area :content, size: "30x12", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :answer, "プロンプト回答" %>
    <%= form.text_area :answer, size: "30x12", placeholder: "回答は必須ではありません", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :nick_name, "投稿者名" %>
    <%= form.text_field :nick_name, value: last_prompt_nick_name(form.object), class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :ai_id, "プロンプトを適用したAI" %>
    <%= form.collection_select(:ai_id, ais, :id, :name, {}, class: "form-control") %>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-6 prompt-category-form">
        <span>親カテゴリ</span>
        <%=collection_select(:category, :parents, current_categories, :id, :name, {selected: session[:current_category_id]||=0},{class:'form-control form-select category-select'})%>
      </div>
      <div class="col-md-6 prompt-category-form">
        <span>子供カテゴリ</span>
        <%=select( :category, :children, options_for_select([]),{prompt:"必要があれば選択してください"},{class:'form-control form-select category-select'})%>
      </div>
      <%= form.hidden_field :category_id, value:0,id: 'categoryId' %>
    </div>
  </div>
  <%= form.submit action_name, class: "btn btn-primary" %>
<% end %>
