<div class="prompt">
  <div class="prompt-header">
    <div class="prompt-main-inf">
      <div class="prompt-title">
        <%=link_to prompt.title,prompt_path(prompt.id),class:"prompt-title"%>
      </div>
      <div class="user">
        <h3 class="prompt-nick-name"> <%=prompt.nick_name%> </h3>
      </div>
    </div>
    <div class="prompt-actions">
      <%if(your_prompt?(prompt))%>
        <%=link_to edit_prompt_path(prompt.id) do%>
          <i class="fa-solid fa-pen-to-square"></i>
        <%end%>
        <%= link_to prompt_path(prompt.id),data: { confirm: "本当に削除しますか？" }, method: :delete do%>
          <i class="fa-solid fa-trash"></i>
        <%end%>
      <%end%>
    </div>
  </div>
  <div class="prompt-main">
    <div class="prompt-content" id="prompt-content-<%=prompt.id%>">
      <p class="content-first-line"> <%= prompt.first_line %></p>
      <%if prompt.remaining_content.present?%>
        <%=simple_format(h(prompt.remaining_content),class:"toggle")%>
        <p><span class="read-more">続きを読む</span></p>
      <%end%>
    </div>
  </div>
  <div class="prompt-footer">
    <div class="prompt-nav">
      <%=render partial: "categories/category",locals:{category: prompt.category}%>
      <%=link_to prompt.ai.name,prompt.ai.url,class:"ai-link",target: :_blank, rel: "noopener noreferrer"%>
    </div>
    <div class="prompt-tool">
      <div id="like-btn<%= prompt.id %>" class="like-btn-box">
        <%=render partial: "likes/like",locals: {prompt: prompt}%>
      </div>
      <button class="content-copy-button" data-prompt-id=<%=prompt.id%>>
        <div class="copy-image"><i class="fa-regular fa-copy"></i></div>
        <div class="copy-content"></div>
      </button>
    </div>
  </div>
</div>