<div class="prompt card">
  <div class="prompt-header card-header">
    <div class="row px-3">
      <ul class="nav nav-tabs card-header-tabs col-9" id="promptTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="contentButton<%= prompt.id %>" data-bs-toggle="tab" data-bs-target="#promptContent<%= prompt.id %>" type="button" role="tab" aria-controls="promptContent<%= prompt.id %>" aria-selected="true">内容</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="infButton<%= prompt.id %>" data-bs-toggle="tab" data-bs-target="#promptInf<%= prompt.id %>" type="button" role="tab" aria-controls="promptInf<%= prompt.id %>" aria-selected="false">詳細</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="answerButton<%= prompt.id %>" data-bs-toggle="tab" data-bs-target="#promptAnswer<%= prompt.id %>" type="button" role="tab" aria-controls="promptAnswer<%= prompt.id %>" aria-selected="false">回答</button>
        </li>
      </ul>
      <div class="col-3 row">
        <% if (your_prompt?(prompt)) %>
          <div class="col-6">
            <button type="button" class="nav-link text-reset" data-bs-toggle="modal" data-bs-target="#promptModal<%= prompt.id %>">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
          <div class="col-6">
            <%= link_to edit_prompt_path(prompt.id), remote: true,class: "nav-link text-reset" do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
          </div>
          <%=render partial:"prompts/modal", locals:{prompt:prompt}%>
        <% end %>
      </div>
    </div>
  </div>
  <div class="tab-content card-body" id="promptTabContent">
    <div class="prompt-content tab-pane fade show active" id="promptContent<%= prompt.id %>" role="tabpanel" aria-labelledby="contentButton<%= prompt.id %>" tabindex="0">
      <h5 class="card-title">
        プロンプト内容
      </h5>
      <%= simple_format(h(prompt.first_line),class:"card-text content-first-line") %>
      <% if prompt.remaining_content.present? %>
        <%= simple_format(h(prompt.remaining_content), class: "collapse card-text remaining-content", id: "remainingContent#{prompt.id}")%>
        <button class="btn btn-link content-toggle-button" type="button" data-bs-toggle="collapse" data-bs-target="#remainingContent<%= prompt.id %>" aria-expanded="false" aria-controls="remainingContent<%= prompt.id %>">
          続きを読む
        </button>
      <% end %>
      <p class="card-text">
        <small class="text-body-secondary">
          <%= link_to prompt.ai.name, prompt.ai.url, class: "ai-link ms-3 text-center text-decoration-none text-reset", target: :_blank, rel: "noopener noreferrer" %>
        </small>
      </p>
    </div>
    <ul class="list-group tab-pane fade" id="promptInf<%= prompt.id %>" role="tabpanel" aria-labelledby="infButton<%= prompt.id %>" tabindex="0">
      <li class="list-group-item">
        <span class="text-muted small">title</span>
        <%= link_to prompt.title, prompt_path(prompt), class: "text-reset text-decoration-none" %>
      </li>
      <li class="list-group-item">
        <span class="text-muted small">category</span>
        <%= link_to prompt.category.name, category_prompts_path(prompt.category), class: "text-decoration-none text-reset" %>
      </li>
      <li class="list-group-item">
        <span class="text-muted small"><i class="fas fa-user"></i></span>
        <%= prompt.nick_name %>
      </li>
      <li class="list-group-item">
        <span class="text-muted small">ai</span>
        <%= link_to prompt.ai.name, prompt.ai.url, class: "ai-link ms-3 text-center text-decoration-none text-reset", target: :_blank, rel: "noopener noreferrer" %>
      </li>
    </ul>
    <div class="collapse mt-3 tab-pane fade" id="promptAnswer<%= prompt.id %>" role="tabpanel" aria-labelledby="answerButton<%= prompt.id %>" tabindex="0">
      <h6 class="card-title">
        <%= link_to prompt.ai.name, prompt.ai.url, class: "ai-link ms-3 col text-center", target: :_blank, rel: "noopener noreferrer" %>からの回答
      </h6>
      <%if prompt.answer.present?%>
        <%=simple_format(h(prompt.answer),class:"content-answer card-text")%>
      <%else%>
        <p class="prompt-no-answer card-text text-center">no answer</p>
      <%end%>
    </div>
  </div>
  <div class="prompt-footer card-footer">
    <div class="row">
      <div class="col row">
        <div class="btn btn-sm row">
          <a class="content-copy-button col-md-offset-5 row text-reset" , style="display: table-cell; vertical-align: middle;" id="copyPrompt<%= prompt.id %>" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="copied!" data-prompt-id=<%= prompt.id %> data-bs-trigger="manual">
            <i class="fa-solid fa-copy"></i>
          </a>
        </div>
      </div>
      <div  class="col row">
        <div class="btn btn-sm row">
          <%= link_to prompt_comments_path(prompt.id), class:"text-reset col-md-offset-5 row", style:"display: table-cell; vertical-align: middle;" do%>
            <i class="fa-regular fa-comment col-md-offset-5"></i>
          <%end%>
        </div>
      </div>
      <%= render partial: "likes/like", locals: { prompt: prompt } %>
    </div>
  </div>
</div>
